apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "workflow-shared-service.fullname" . }}-backend
  labels:
    {{- include "workflow-shared-service.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount.backend }}
  selector:
    matchLabels:
      {{- include "workflow-shared-service.selectorLabels" . | nindent 6 }}
      app.kubernetes.io/component: backend
  template:
    metadata:
      labels:
        {{- include "workflow-shared-service.selectorLabels" . | nindent 8 }}
        app.kubernetes.io/component: backend
    spec:
      initContainers:
        - name: migrate
          image: "{{ .Values.image.backend.repository }}:{{ .Values.image.backend.tag }}"
          imagePullPolicy: {{ .Values.image.backend.pullPolicy }}
          command: ["python", "manage.py", "migrate"]
          envFrom:
            - configMapRef:
                name: {{ include "workflow-shared-service.fullname" . }}-backend
            - secretRef:
                name: {{ include "workflow-shared-service.fullname" . }}-backend
      containers:
        - name: backend
          image: "{{ .Values.image.backend.repository }}:{{ .Values.image.backend.tag }}"
          imagePullPolicy: {{ .Values.image.backend.pullPolicy }}
          ports:
            - name: http
              containerPort: 8000
          envFrom:
            - configMapRef:
                name: {{ include "workflow-shared-service.fullname" . }}-backend
            - secretRef:
                name: {{ include "workflow-shared-service.fullname" . }}-backend
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
